<div class="container">
  <div class="page-header">
    <h2 id="timeline">My Timeline</h2>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge success"><i class="glyphicon glyphicon-education"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h2 class="timeline-title">Schooling</h2>
        </div>
        <div class="timeline-body">
          <p>Studied at Vidya Jyothi School, Kolar.</p>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{schoolYear}}</small></p>
          <hr>
          <p>Learnt and grew affinity towards Coding.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-education"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h2 class="timeline-title">Pre-University</h2>
        </div>
        <div class="timeline-body">
          <p>Sahayadri Pre-University College, Kolar.</p>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{puYear}}</small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-education"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h2>Bachelor's in Electronics and Communications</h2>
        </div>
        <div class="timeline-body">
          <p><a href="http://www.msrit.edu/">M.S.Ramaiah Institute Of Technology, Bangalore.</a></p>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{engYear}}</small></p>
          <hr>
          <p>Satisfied the urge of learning about the hardware and technology involved in electronic devices.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h2 class="timeline-title">Software Engineer</h2>
        </div>
        <div class="timeline-body">
          <p><a href="https://www.shoretel.com/">ShoreTel Inc.</a></p>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{shoretelYear}}</small></p>
          <hr>
          <p>Worked as part of CTO-staff, were responsible for developing Proof of Concepts on leveraging Public cloud for an year.</p>
          <hr>
          <p>Worked as Developer on C# and .net tech stack.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><i class="glyphicon glyphicon-education"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h2>Master of Science in Computer Science</h2>
        </div>
        <div class="timeline-body">
          <p><a href="http://www.utdallas.edu/">The University of Texas at Dallas, Dallas</a></p>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{msYear}}</small></p>
          <hr>
          <p>With constantly growing interests in Technology and Artificial Intelligence, I chose to learn about these advancements.</p>
        </div>
      </div>
    </li>
  </ul>
</div>