<div class="row">
  <h2>
    Skills and Proficiencies
  </h2>
  <u>Programming Languages :</u>
  <div class="row">
    <div class="col-md-3">C :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">C# :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar progress-bar-success active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Java :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar progress-bar-info active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Python :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar progress-bar-warning active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Bash :</div>
    <div class="progress col-md-9">
      <div style="width: 33%" class="progress-bar progress-bar-danger active" role="progressbar">
        Beginner
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Embedded C :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <hr><u>Front-end Design :</u>
  <div class="row">
    <div class="col-md-3">JavaScript :</div>
    <div class="progress col-md-9">
      <div style="width: 33%" class="progress-bar active" role="progressbar">
        Beginner
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">AngularJs :</div>
    <div class="progress col-md-9">
      <div style="width: 33%" class="progress-bar progress-bar-success active" role="progressbar">
        Beginner
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Angular2 :</div>
    <div class="progress col-md-9">
      <div style="width: 33%" class="progress-bar progress-bar-info active" role="progressbar">
        Beginner
      </div>
    </div>
  </div>
  <hr><u>Frameworks :</u>
  <div class="row">
    <div class="col-md-3">ASP.Net :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar progress-bar-warning active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Django :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar progress-bar-danger active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">CherryPy :</div>
    <div class="progress col-md-9">
      <div style="width: 33%" class="progress-bar progress-bar-info active" role="progressbar">
        Beginner
      </div>
    </div>
  </div>
  <hr><u>Platforms and New Technology :</u>
  <div class="row">
    <div class="col-md-3">Amazon Web Services:</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar progress-bar-success active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Dockers :</div>
    <div class="progress col-md-9">
      <div style="width: 67%" class="progress-bar active" role="progressbar">
        Intermediate
      </div>
    </div>
  </div>
</div>