<div class="row">
  <h2>
    Skills and Proficiencies
  </h2>
  <div *ngFor="let skill of skills">
    <u>{{skill.skillCatag}}</u>
    <div *ngFor="let sk of skill.skillSet">
      <div class="row">
        <div class="col-xs-4">{{sk.skillName}} :</div>
        <div class="progress col-xs-8">
          <div [ngStyle]="{'width': sk.skillPer}" [ngClass]="sk.skillStyleClass" class="active progress-bar" role="progressbar">
            {{sk.skillLevel}}
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
