.progress-bar{
    height: 100%;
    border-radius: 0px;
    font-size: 16px;
    line-height: 25px;
}
div{
    padding: 0px;
}
.progress{
    border-radius: 0px;
    height: 25px;
    margin: 5px 0px 0px 0px;
}

.row{
    margin: 0 0 0 0;
}