<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>
        <br> About Me
      </h2>
      <p>I would like to introduce myself as a Code Enthusiast.</p>
      <p>
        Right now, I am a Student working my way to learn more about Intelligent systems.
      </p>
      <hr>
      <app-skills></app-skills>
      <hr>
      <app-resume></app-resume>
      <hr>
      <app-achivements></app-achivements>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>