<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h2>
        <br> About Me
      </h2>
      <p>I would like to introduce myself as a Code Enthusiast.</p>
      <p>
        Currently, I'm a Software Developer in Identity and Access Management Team at Oracle Cloud Infrastructure.
      </p>
      <hr>
      <app-skills></app-skills>
      <!-- <hr> -->
      <!-- <app-resume></app-resume>
      <hr> -->
      <app-achivements></app-achivements>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
