.container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-resume {
    background: none;
    border: 3px solid #222;
    color: #222;
}
.btn-resume:hover, .btn-resume:active {
    color: #FFF;
    background: #222;
}
.div-center{
    padding: 20px;
    text-align: center;
    width: 20%;
}
p{
    text-align: center;
}