<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>
        My Resume
      </h2>
      <p>
        If you are intrested in taking a look at my resume, you can download it here.
      </p>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <!--<div class="intro-text col-md-5">-->
             <p><a href="../../assets/files/contract.pdf" class="btn btn-block btn-resume">Download Resume</a></p>
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>