<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <hr>
      <br>
      <h2>
        My Resume
      </h2>
      <p>
        If you are intrested in taking a look at my resume, you can download it here.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!--<div class="intro-text col-md-5">-->
      <p>
        <a href="{{fileUrl}}" download="Hitesh_Resume.pdf" class="btn btn-block btn-resume">
          <i class="fa fa-download" aria-hidden="true"></i>
          Download Resume
        </a>
      </p>
      <!--</div>-->
    </div>
  </div>
</div>
