<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <hr>
      <br>

      <!-- Experiences -->
      <div>
        <h2 id="timeline">Experience</h2>
      </div>
      <ul class="timeline">
        <li *ngFor="let event of experiences" class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <h4>{{event.role}}</h4>
            <h5>
              <a href="{{event.url}}">{{event.name}}</a>
            </h5>
            <p>
              <small class="text">{{event.location}}</small>
              <br>
              <small class="text-muted">
                <i class="glyphicon glyphicon-time"></i>{{event.time}}</small>
            </p>
            <p *ngFor="let desc of event.desc">{{desc}}</p>
            <div *ngIf="event.details != undefined">
              <p *ngIf="!event.toggle" (click)="event.toggle = !event.toggle"><a>more details</a></p>
              <div *ngIf="event.toggle">
                <p *ngIf="event.toggle" (click)="event.toggle = !event.toggle"><a>less details</a></p>
                <p *ngFor="let detail of event.details">- {{detail}}</p>
              </div>
            </div>
            <hr />
          </div>
        </li>
      </ul>

      <!-- Degrees -->
      <div>
        <h2>Education</h2>
      </div>
      <ul class="timeline">
        <li *ngFor="let event of degrees" class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <h4>
              <a href="{{event.url}}">{{event.name}}</a>
            </h4>
            <p>
              <small>{{event.location}}</small>
              <br>
              <small>GPA: {{event.GPA}}</small>
              <br>
              <small class="text-muted">
                <i class="glyphicon glyphicon-time"></i>{{event.time}}</small>
            </p>
            <p *ngFor="let desc of event.desc">{{desc}}</p>
            <div *ngIf="event.details != undefined">
              <p *ngIf="!event.toggle" (click)="event.toggle = !event.toggle"><a>more details</a></p>
              <div *ngIf="event.toggle">
                <p *ngIf="event.toggle" (click)="event.toggle = !event.toggle"><a>less details</a></p>
                <p *ngFor="let detail of event.details">- {{detail}}</p>
              </div>
            </div>
            <hr />
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
