<!-- <ul class="timeline">
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">April 2011 - heute</p>
        <h3>Geil,Danke! GmbH</h3>
        <h4>Geschäftsführerin eines Web-Studios</h4>
        <p><strong>Schwerpunkt: Frontend-Entwicklung</strong><br>Entwickeln von anspruchsvollen, animierten, responsive und adaptive Webseiten mit HTML5, SCSS, jQuery; für alle Browser, optimiert für Desktop, Notebook, Smartphones und Tablets (iOS, Android, Windows).</p>
        <p><strong>Projektmanagement mit Scrum</strong><br>Ständiges Verbessern des agilen Entwicklungsprozesses beispielsweise durch Grunt, Yeoman, GIT, JIRA und BrowserStack.</p>
      </div>
    </li>
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">November 2009 - März 2011</p>
        <h3>Freelancer</h3>
        <h4>Designer und Autor</h4>
        <p>Konzeption, Design und Produktion von Digitalen Magazinen mit InDesign, der Adobe Digital Publishing Suite und HTML5. Co-Autorin der Fachbücher "Digitales Publizieren für Tablets" und "Adobe Digital Publishing Suite" erschienen im dpunkt.verlag.</p>
      </div>
    </li>
    <li class="timeline-event">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">April 2011 - heute</p>
        <h3>konplan gmbh</h3>
        <h4>IT-Consultant</h4>
        <p><strong>Systemarchitektur, Consulting</strong><br>Konzeption und Modellierung von Systemen und APIs für Digital Publishing und Entitlement nach SOA</p>
      </div>
    </li>
  </ul>   -->
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      <div>
        <h2 id="timeline">My Timeline</h2>
      </div>

      <ul class="timeline">

        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <!-- <p class="timeline-event-thumbnail">April 2011 - heute</p> -->
            <h3>
              <a href="http://www.utdallas.edu/">The University of Texas at Dallas, Dallas</a>
            </h3>
            <h4>Master of Science in Computer Science</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{msYear}}</small></p>
            <hr>
            <p>With constantly growing interests in Technology and Artificial Intelligence, I chose to learn about these advancements.</p>
          </div>
        </li>

        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <!-- <p class="timeline-event-thumbnail">April 2011 - heute</p> -->
            <h3>
              <a href="https://www.shoretel.com/">ShoreTel Inc.</a>
            </h3>
            <h4>Software Engineer</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{shoretelYear}}</small></p>
            <hr>
            <p>Worked as part of CTO-staff, were responsible for developing Proof of Concepts on leveraging Public cloud for
              an year.
            </p>
            <hr>
            <p>Worked as Developer on C# and .net tech stack.</p>
          </div>
        </li>

        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <!-- <p class="timeline-event-thumbnail">April 2011 - heute</p> -->
            <h3>
              <a href="http://www.msrit.edu/">M.S.Ramaiah Institute Of Technology, Bangalore.</a>
            </h3>
            <h4>Bachelor's in Electronics and Communications</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{engYear}}</small></p>
            <hr>
            <p>Satisfied the urge of learning about the hardware and technology involved in electronic devices.</p>
          </div>
        </li>

        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <!-- <p class="timeline-event-thumbnail">April 2011 - heute</p> -->
            <h3>
              Sahayadri Pre-University College, Kolar.
            </h3>
            <h4>Pre-University</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{puYear}}</small></p>
          </div>
        </li>

        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <!-- <p class="timeline-event-thumbnail">April 2011 - heute</p> -->
            <h3>
              Vidya Jyothi School, Kolar.
            </h3>
            <h4>Schooling</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{schoolYear}}</small></p>
          </div>
        </li>

      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>