<div class="container">
  <!-- <br> -->
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="intro-text col-xs-4">
        <span class="name">Location</span>
        <br>
        <span class="name">The University of Texas</span>
        <br>
        <span class="name">Dallas, Texas U.S.</span>
      </div>
      <div class="intro-text col-xs-4">
        <span class="name">Contact</span>
        <br>
        <span class="name">Phone: +1 682-552-1674</span>
        <br>
        <span class="email">
          <a href="mailto:hitesh.2457@outlook.com" style="color: #9d9d9d">hitesh.2457@outlook.com</a>
        </span>
      </div>
      <div class="intro-text col-xs-4">
        <span class="name">Around the Web</span>
        <br>
        <div class="row">
          <div class="col-xs-1">
          </div>
          <div class="col-xs-2">
            <a href="https://www.linkedin.com/in/hitesh-gupta-4759178a" target="blank">
              <i class="fa fa-2 fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-2">
            <a href="mailto:hitesh.2457@outlook.com">
              <i class="fa fa-2 fa-envelope-o" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-2">
            <a href="https://github.com/hitesh-2457" target="blank">
              <i class="fa fa-2 fa-github" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-2">
            <a href="https://www.facebook.com/Hitesh.2457" target="blank">
              <i class="fa fa-2 fa-facebook-official" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-2">
            <a href="https://www.instagram.com/hitesh2457" target="blank">
              <i class="fa fa-2 fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-1">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-2">
      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="hitesh-gupta-tr"><a class="LI-simple-link" href='https://www.linkedin.com/in/hitesh-gupta-tr?trk=profile-badge'>Hitesh Gupta</a></div>
    </div> -->
  </div>

  <!-- Designed with Angular2 -->
  <div class="row" style="padding-top: 50px">
    <div class="col-xs-8">
    </div>
    <div class="col-xs-4">
      <p>
        <img src="../../assets/images/favicon.png" alt=""> Designed with Angular2
      </p>
    </div>
  </div>
</div>
