.container{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.email{
  font-family: 'Times New Roman', Times, serif;
}
.img-circle{
  width: 300px;
  padding: 20px;
}

.img-128{
  width: 40px;
}
.location-name{
  font-size: 25px;
  padding-bottom: 10px;
}
.web-name{
  font-size: 25px;
  padding-bottom: 10px;
}
