<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>
        <br> Contact Me
      </h2>
      <div>
        <span class="contact">
            E-mail: hitesh.2457@outlook.com<br>
            Phone: +1 (682)-(552)-1674
        </span>
      </div>
      <app-alert></app-alert>
      <form>
        <br>
        <div class="row form-group">
          <div class="col-md-4">
            <input class="form-control" id="name" type="text" required placeholder="*Name" [(ngModel)]="user.name" name="Name">
          </div>
          <div class="col-md-4">
            <input class="form-control" id="mailId" type="email" required placeholder="*E-Mail Id" [(ngModel)]="user.email" name="Email">
          </div>
          <div class="col-md-4">
            <input class="form-control" id="subject" type="text" required placeholder="*Subject" [(ngModel)]="msg.subject" name="Subject">
          </div>
        </div>
        <div class="row form-group">
          <br>
          <br>
          <textarea class="form-control" id="messages" rows="" cols="" placeholder="Message" [(ngModel)]="msg.body" name="Body"></textarea>
        </div>
        <div class="row form-group">
          <br>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <button class="btn" type="reset" (click)="formReset()" name="resetBtn">Clear</button>
          </div>
          <div class="col-md-3">
            <button class="btn" type="submit" (click)="formSubmit()" name="submitBtn">Submit</button>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="intro-text col-md-6">
        <span class="name">Location</span><br>
        <span class="name">The University of Texas</span><br>
        <span class="name">Dallas, Texas U.S.</span>
      </div>
      <div class="intro-text col-md-6">
        <span class="name">Around the Web</span><br>
        <div class="row" style="padding-left:50px;padding-right:50px">
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
            <a href="https://www.linkedin.com/in/hitesh-gupta-4759178a">
            <img class="img-128" src="../assets/images/if_linkedin_2308061.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="mailto:hitesh.2457@outlook.com">
            <img class="img-128" src="../assets/images/if_email_2308112.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.facebook.com/Hitesh.2457">
            <img class="img-128" src="../assets/images/if_facebook_2308066.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.instagram.com/hitesh2457">
            <img class="img-128" src="../assets/images/if_instagram_2308118.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://github.com/hitesh-2457">
            <img class="img-128" src="../assets/images/if_github_2308116.png" alt="">
            </a>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>