nav{
  padding-bottom: 10px;
  padding-top: 10px;
  border: 0;
  font-variant: small-caps;
}
hr{
  width: 20%;
}
span{
  font-size: 25px;
  font-variant: small-caps;
}
.navbar-brand{
  font-size: 25px;
}
