<nav class="navbar navbar-fixed-top navbar-inverse affix-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="navbar-header navbar-left">
          <a class="navbar-brand" href="#home">Hitesh Gupta T R</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#timeline">Timeline</a>
            </li>
            <li>
              <a href="#resume">Resume</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="home">
  <app-home></app-home>
</div>
<div id="about">
  <app-about></app-about>
</div>
<div id="resume">
  <app-resume></app-resume>
</div>
<div id="timeline">
  <app-timeline></app-timeline>
</div>
