/* You can add global styles to this file, and also import other style files */
.container{
    width: 100%;
}
body{
    /* font-family: 'Lato'; */
    font-family: 'Alegreya SC';
    /* font-family: 'Architects Daughter'; */
    /* font-family: 'Averia Serif Libre'; */
    /* font-family: 'Aldrich'; */
    /* font-family: 'Andada'; */
    font-size: 20px;
    min-width: 900px;
}
h2{
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
}
hr{
  width: 80%;
}
