.container{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #222;
    color: #9d9d9d;
    height: 100%;
}
.email{
    font-family: 'Times New Roman', Times, serif;
}
.img-circle{
  max-width: 300px;
  padding: 20px;
  width: 100%;
  height: auto;
}
.img-128{
    width: 40px;
}
.location-name{
    font-size: 25px;
    padding-bottom: 10px;
}
.web-name{
    font-size: 25px;
    padding-bottom: 10px;
}
hr {
  width: 50%
}