<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <div class="img-circle"> -->
        <img class="img-circle" src="../assets/images/profile1.jpg" alt="">
      <!-- </div> -->
      <div class="intro-text">
        <span class="name">Hitesh Gupta T R</span>
        <hr>
        <span class="skills"> Software Engineer at Oracle Cloud Infrastructure </span>
        <br><br>
        <span class="skills"> Java Developer </span>
        <br>
        <span class="skills"> Machine Learning Enthusiast </span>
        <br>
        <span class="skills"> Full-stack Developer | Dev-Ops Engineer </span>
        <!-- <hr> -->
      </div>
    </div>
  </div>

  <!-- Designed with Angular2 -->
  <!-- <div class="row" style="padding-top: 50px">
    <div class="col-xs-9">
    </div>
    <div class="col-xs-3">
      <p>
        <img src="../../assets/images/favicon.png" alt=""> Designed with Angular2
      </p>
    </div>
  </div> -->
</div>
