<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img class="img-circle" src="../assets/images/profile.jpg" alt="">
      <div class="intro-text">
        <span class="name">Hitesh Gupta T R</span>
        <hr>
        <span class="skills"> Student </span>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="intro-text col-md-6">
        <span class="location-name">Location</span><br>
        <span class="location">The University of Texas</span><br>
        <span class="location">Dallas, Texas U.S.</span>
      </div>
      <div class="intro-text col-md-6">
        <span class="web-name">Around the Web</span>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
            <a href="https://www.linkedin.com/in/hitesh-gupta-4759178a">
            <img class="img-128" src="../assets/images/if_linkedin_2308061.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="mailto:hitesh.2457@outlook.com">
            <img class="img-128" src="../assets/images/if_email_2308112.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.facebook.com/Hitesh.2457">
            <img class="img-128" src="../assets/images/if_facebook_2308066.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.instagram.com/hitesh2457">
            <img class="img-128" src="../assets/images/if_instagram_2308118.png" alt="">
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://github.com/hitesh-2457">
            <img class="img-128" src="../assets/images/if_github_2308116.png" alt="">
            </a>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>